<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../static/js.js"></script> 
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='..//static/css.css'>
    <title>Document</title>
</head>
<body class="body2">
    <header>
        <div class="container">
          <h1 class="logo">Wims</h1>
              
          <nav class = "nav_bar">
            <ul>
              <li><a href="main.html">Home</a></li>
              <li><a id="services" href="">Services</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>
        </header>
        <div  class="buttonsContainer">
            <span>
                <button  class="button-56" role="button"><a href="./find_my.html">Find My Scooter</a></button>
            </span>
            <span>           
                 <button class="button-56" role="button"><a href="./parking.html"> My Scooter</a></button>
            </span>

        </div>
        <span class="about_us">
            <h1>About Us</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius asperiores voluptatem aliquam recusandae nisi ratione dolorem placeat fugiat quae enim ad perferendis, saepe pariatur, repudiandae odio nesciunt odit distinctio quibusdam.</p>
        </span>
</body>
</html>