<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <script defer src="../static/js.js"> </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly">
    </script>
    <title>parking</title>
</head>
<body class="body2">
      <div class="mainGrid">
        <header>
          <div class="container">
            <div class="parkingNav">
              <h1 class="logo">Wims</h1> 
              <nav>
                <ul>
                  <li><a href="main.html">Home</a></li>
                  <li><a href="find_my.html">Find My Scooter</a></li>
                  <li><a href="parking.html">Parking</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          </header>
          <div class="mainbtn">
            <div  class="buttonsContainer">
              <span id="findScooter_parking">
                  <button id="findScooter_parking" class="button-56" role="button">Find A Scotter</button>
              </span>
              <span  id="button2_parking">           
                   <button class="button-56" role="button">Park My Scooter</button>
              </span>
          </div>
          <div class="tohen">
            <div>
              <label for="location">City</label>
              <select name="cities" id="city">
                <option value="Tel-Aviv">Tel Aviv</option>
                <option value="Beer-Sheva">Beer Sheva</option>
                <option value="Jerusalem">Jerusalem</option>
                <option value="Los-Angeles">LA</option>
              </select>
            </div>
            <button id="find" onclick="showPicture()">Find Parking</button></br>
          </div>
          </div>
          <div id="parkingPic">
            <img id="parking_pic" style="display: none; " src= "picture">
          </div>
      </div>
      </body>
      </html>