<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <script src="..//static/javaScript.js" ></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>scooter_search</title>
</head>
<body class="body2">
    <!-- <div class="backroundblur">
    <header>
        <div class="container">
          <img class="dogIcon" src=""  height="50">
          <h1 class="logo">Wims</h1>
              
          <nav>
            <ul>
              <li><a href="main.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Donate</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>
        </header>
        <div  class="buttonsContainer">
            <span id="button1">
                <button  class="button-56" role="button">Find A Scotter</button>
            </span>
            <span  id="button2">           
                 <button class="button-56" role="button">Park My Scooter</button>
            </span>
        </div> -->
        <div id="map"></div>


        <!-- 
         The `defer` attribute causes the callback to execute after the full HTML
         document has been parsed. For non-blocking uses, avoiding race conditions,
         and consistent behavior across browsers, consider loading using Promises
         with https://www.npmjs.com/package/@googlemaps/js-api-loader.
        -->
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
          defer
        ></script>
      </body>
      </html>